@charset "UTF-8";

.question-job {
    padding: 10px;
    .header {
        padding: 10px 35px;
        color: #555;
    }
    .description {
        padding: 10px 20px;
        // padding-left: 20px;
        border-left: 4px solid #118060;
        color: #444;
        margin-left: 35px;
        background-color: #dfdfdf;
    }

    .forms {
        padding: 10px 20px;
        width: 70%;
        margin: 10px auto;
        min-width: 650px;
        max-width: 950px;
    }
}