<!DOCTYPE html>
<html>
{% load staticfiles %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>编程列车 | 403 Error</title>
</head>
<body>
    <div style="margin: auto;text-align: center">
        <div style="margin: 80px auto">
            <div>
                <a href="/">
                    <img src="{% static 'images/500.svg' %}" alt="返回首页" style="width: 300px;height: auto">
                </a>
            </div>
        </div>
    </div>
</body>
</html>

