@charset "UTF-8";
$logoColor: #4A90E2;
$bodyBackgroundColor: #eee;

//引入_base.scss
@import "scss/article/_base.scss";

body {
    background-color: $bodyBackgroundColor;
    font-size: 14px;
    color: #555;
    font-size: 14px;
    font-family: "PingFang SC","Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Microsoft Yahei","微软雅黑","华文细黑",sans-serif;
    //font: 14px/1.5 pingfang,”Microsoft Yahei”,\\5B8B\4F53,”Hiragino Sans GB”,sans-serif;
    text-align: left;
  min-width: 100%;
  min-height:100%;
}

input:focus,textarea,textarea:focus,select {
  //box-shadow: 0 0 2px rgba(60,60,60,.5);
  outline: none;
}

.container {
  width: 90%;
  margin:0 auto;

  .content {
    width: 100%;
    padding:10px 0;
    background-color: #fff;
    position: relative;
    //消息框内容
  .message {
    position: absolute;
    top:15px;
    background-color: #f0efd0;
    width: 150px;
    margin: 5px 40%;
    display: none;
    text-align: center;
    border-radius: 5px;
    font-size:14px;
    padding:3px 10px;
    color: #555;
    border: 1px solid #F8F8F8;
  }
  .message.red {
    background-color: #f0dfaf;
    color: #FF1717 !important;
  }
    p {
      //margin-bottom: 10px;
      padding:10px;
    }
    select {
      padding: 4px 6px;
      font-size: 14px;
      line-height:30px;
      height:30px;
      option {
        padding: 14px;
      }
    }
    #id_category {
      width: 200px;
    }
    select#id_status {
      width: 60px;
      margin-right:10px;
    }
    input {
      padding: 4px 6px;
      font-size:15px;
      -webkit-border-radius:5px;
      -moz-border-radius:5px;
      border-radius:5px;
      border:1px solid #CCC;
    }
    #id_title {
      width: 100%;
      margin-bottom:5px;
    }
    #id_tags {
      width: 300px;
      margin-right: 25px;
    }

    .buttons {
      position: absolute;
      bottom: 10px;
      padding: 5px;
      right: 50px;
      text-align: center;
      .btn {
        width: 100px;
        height: 40px;
        text-align: center;
      }
    }
  }
}

//上传文件的样式

.upload {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.2);
  z-index: 99;
  .content {
    margin: 200px auto;
    background-color: #fff;
    width: 400px;
    //height: 200px;
    padding: 20px 10px;
    #id_filename {
      margin-left:10px;
      width: 250px;
      margin-bottom: 10px;
      padding:3px 5px;
      font-size: 15px;
      border: 1px solid #CCC;
      border-radius: 5px;
      //line-height:30px;
    }
    .buttons {
      margin-top: 10px;
    }
    .btn {
        width: 100px;
        height: 40px;
        text-align: center;
        cursor: pointer;
      margin-right:20px;
    }
  }
}