@charset "UTF-8";

//ul,li {
//  margin:0;
//  padding:0;
//}

a {
  text-decoration: none;
  color: #555;
}
ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
  li {
    margin-left: 0;
  }
}



.fl {
  float: left;
}
.fr {
  float: right;
}
.clear {
  clear: both;
}