{% extends "../base.html" %}
{% load staticfiles %}
{#{% load self_tags %}#}
{% block title %}编程列车{% endblock %}

{% block content %}
    <div class="articles">
        {% for post in posts %}
            <div class="item">
                <div class="item-info">
                    <div>
                        <a href="{% url 'pages:article:detail' post.pk %}">
                            <h2 class="title">
                                {% if post.deleted %}【删除】{% endif %}{% ifequal post.status 'draft' %}【草稿】{% endifequal %}{{ post.title }}
                            </h2>
                        </a>
                    </div>

                    <div class="meta">
                        <span>发布于 {{ post.time_added }}</span>
                        {% if post.tags.count %}
                            <span style="margin-right:0px;">标签:</span>
                                <ul class="taglist">
                                    {% for tag in post.tags.all %}
                                        <li>
                                             <a href="{% url 'pages:article:tag_list' tag.slug %}">{{ tag.name }}</a>
                                        </li>
                                {% endfor %}
                                </ul>

                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
        <!--Page列表开始-->
        <div class="page">
            {% if posts.has_previous %}
                <a href="{% url 'pages:index' %}" >首页</a>
                <a href="{% url 'pages:page' posts.previous_page_number %}">上一页</a>
            {% else %}
                 <a class="page-disabled">首页</a>
                 <a class="page-disabled">上一页</a>
            {% endif %}

            {% for page in page_num_list %}
                {% ifequal page posts.number %}
                    <a class="page-tag active" href="{% url 'pages:page' page %}">
                        {{ page }}
                    </a>
                {% else %}
                    <a class="page-tag" href="{% url 'pages:page' page %}">
                        {{ page }}
                    </a>
                {% endifequal %}
            {% endfor %}

            {% if posts.has_next %}
                    <a href="{% url 'pages:page' posts.next_page_number %}" >下一页</a>
                    <a href="{% url 'pages:page' last_page %}" >尾页</a>
            {% else %}
                 <a class="page-disabled">下一页</a>
                 <a class="page-disabled">尾页</a>
            {% endif %}
        </div>
        <!--Page列表end-->
    </div>
{% endblock %}